.cxi-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
  .cxi-box {
    min-width: 330px;
    max-width: 330px;
    min-height: 330px;
    max-height: 330px;
    padding: 1px;
    border-radius: 6px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
