.right-sidebar {
  background-color: #170F23;
  border-left: 1px solid #b6b6b62e;
  .side-wrapper {
    height: 100vh;
    width: 320px;
    [role="tabpanel"] {
      height: 100%;
      .MuiBox-root {
        height: 100%;
        padding: 8px 0 !important;
      }
    }
    .MuiBox-root-6 {
      padding: 6px 0;
    }
    .play-list {
      margin-top: 10px;
    }
    .side-action {
      display: flex;
      align-items: center;
      .tabs-control {
        padding: 3px;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 100px;
        .MuiTabs-root {
          min-height: 28px;
          .MuiTabs-scroller {
            .MuiTabs-flexContainer {
              .MuiTab-root {
                min-height: 28px;
                border-radius: 100px;
                padding: 0 10px;
                span {
                  text-transform: none;
                  font-size: 12px;
                }
              }
            }
            .PrivateTabIndicator-root-1 {
              height: 28px;
              border-radius: 100px;
            }
            .PrivateTabIndicator-root-1 {
              border-radius: 100px;
              background-color: rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
      .icon-side-box {
        width: 34px;
        height: 34px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .1);
        &:nth-of-type(2) {
          background-color: #7200A1;
        }
        .MuiIconButton-root {
          padding: 5px;
        }
      }
    }
    .divided {
      padding: 0 8px;
      .divided-title {
        font-weight: bolder;
      }
      .divided-text {
        font-size: 12px;
      }
      .purple-nav {
        color: var(--text-purple);
      }
      a {
        text-decoration: none;
      }
    }
    .suggestion-box {
      width: 312px;
      padding: 0 8px;
      .auto-play {
        font-size: 12px;
        line-height: 25px;
        color: #e5e5e5
      }
      .MuiSwitch-track {
        background-color: #b5b5b5;
      }
      .refresh {
        cursor: pointer;
        .refresh-icon {
          width: 20px;
          height: 20px;
          fill: #fff;
        }
        &:hover .refresh-icon {
          animation: rotate 3s infinite linear;
        }
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
