.right-sidebar {
  background-color: #170F23;
  border-left: 1px solid #b6b6b62e;
  position: relative;
  transition: width .5s;
  width: 320px;
  .expand-btn {
    position: absolute;
    background-color: #9300de9c;
    border-radius: 50%;
    top: 50%;
    right: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translate(-50px, -50%);
  }
}
.rsb-expand {
  transition: width .5s ease-out;
  width: 320px !important;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.wx {
  transition: width .5s ease-out;
  width: 0 !important;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

