.right-sidebar {
  background-color: #170F23;
  border-left: 1px solid #b6b6b62e;
  .side-wrapper {
    width: 320px;
    .MuiBox-root-6 {
      padding: 6px 0;
    }
    .play-list {
      margin-top: 10px;
    }
    .side-action {
      display: flex;
      align-items: center;
      .tabs-control {
        padding: 3px;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 100px;
        .MuiTabs-root {
          min-height: 28px;
          .MuiTabs-scroller {
            .MuiTabs-flexContainer {
              .MuiTab-root {
                min-height: 28px;
                border-radius: 100px;
                padding: 0 10px;
                span {
                  text-transform: none;
                  font-size: 12px;
                }
              }
            }
            .PrivateTabIndicator-root-1 {
              height: 28px;
              border-radius: 100px;
            }
            .PrivateTabIndicator-root-1 {
              border-radius: 100px;
              background-color: rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
      .icon-side-box {
        width: 34px;
        height: 34px;
        margin-left: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .1);
        &:nth-of-type(2) {
          background-color: #7200A1;
        }
        .MuiIconButton-root {
          padding: 5px;
        }
      }
    }
  }
}


