@media screen and (max-width: 1432px) {
  #root {
    .main {
      width: calc(100% - 230px);
    }
    .dc .gallery-wrapper .gallery-images {
      height: calc(28vw - 131px);
    }
    .right-sidebar {
      width: 0;
      .expand-btn {
        opacity: 1;
        visibility: visible;
        transform: translate(-20px, -50%);
      }
    }
  }
}
@media screen and (max-width: 1170px) {
  #root {
    .main {
      width: calc(100% - 80px);
    }
    .sidebar .sidebar-cover {
      transition: width .3s ease-out;
      width: 80px !important;
      .side-logo {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
      }
      .large-side {
        display: none;
      }
      .short-side {
        display: block !important;
      }
    }
    .dc .gallery-wrapper .gallery-images {
      height: calc(28vw - 83px) !important;
    }
  }
}
