/* You can add global styles to this file, and also import other style files */
$bg-primary: #432275;
@import "./responsive";
[app-theme="mp3"] {
  --bg-purple-primary: #432275;
  --bg-purple-primary-dark: #231B2E;
  --layout-bg: #170f23;
  --sidebar-popup-bg: #2a213a;
  --alpha-layout-bg: rgba(41, 21, 71, 0.8);
  --queue-player-popup-bg: #120822;
  --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
  --link-text-hover: #c662ef;
  --chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
  --text-purple: #c662ef;
  --bg-media-player: #120C1C;
  --text-primary: #fff;
  --purple-primary: #7200a1;
  --blue-neon: #79F1F7;
  --yellow-neon: #E1F703;
  --green-neon: #E1F703;
  --deeppink: #FF1493;
  --dark-overlay: rgba(0, 0, 0, 0.45);
}
* {
  color: white;
}
bodY {
  overflow: hidden;
}
@font-face {
  font-family: iconFont;
  src: url("../../assets/fonts/icomoon.woff"),
  url("../../assets/fonts/icomoon.ttf"),
  url("../../assets/fonts/icomoon.eot");
}
.ico-icon {
  font-style: normal;
  font-family: iconFont, serif;
  &.icon-library:after {
    content: "\e901";
    color: white;
  }
}
.no-wrap {
  white-space: nowrap;
}
.MuiButton-root {
  text-transform: unset !important;
}
.app-scroll {
  overflow-y: auto;
  height: 100%;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #8723a8;
    }
  }
}
.right-sidebar-box {
  margin-right: -8px;
  padding-bottom: 20px;
}
.icon-side-box,
.icon-nav-box {
  .MuiIconButton-label svg {
    fill: #dcdcdc;
  }
}
.group-title {
  font-size: 18px;
  font-weight: bolder;
  color: var(--text-primary);
  margin-bottom: 10px;
}
.side-wrapper {
  width: 100%;
  height: 100vh;
  [role="tabpanel"] {
    height: 100%;
    .MuiBox-root {
      height: 100%;
      padding: 8px 0 !important;
    }
  }
  .MuiBox-root-6 {
    padding: 6px 0;
  }
  .play-list {
    margin-top: 10px;
  }
  .side-action {
    display: flex;
    align-items: center;
    .tabs-control {
      padding: 3px;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 100px;
      .MuiTabs-root {
        min-height: 28px;
        .MuiTabs-scroller {
          .MuiTabs-flexContainer {
            .MuiTab-root {
              min-height: 28px;
              border-radius: 100px;
              padding: 0 10px;
              span {
                text-transform: none;
                font-size: 12px;
              }
            }
          }
          .MuiTabs-indicator {
            border-radius: 100px;
            height: 28px;
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
      }
    }
    .icon-side-box {
      width: 34px;
      height: 34px;
      margin-left: 10px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .1);
      &:nth-of-type(2) {
        background-color: #7200A1;
      }
      .MuiIconButton-root {
        padding: 5px;
      }
    }
  }
  .divided {
    padding: 0 8px;
    .divided-title {
      font-weight: bolder;
    }
    .divided-text {
      font-size: 12px;
    }
    .purple-nav {
      color: var(--text-purple);
    }
    a {
      text-decoration: none;
    }
  }
  .suggestion-box {
    width: 312px;
    padding: 0 8px;
    .auto-play {
      font-size: 12px;
      line-height: 25px;
      color: #e5e5e5
    }
    .MuiSwitch-track {
      background-color: #b5b5b5;
    }
    .refresh {
      cursor: pointer;
      .refresh-icon {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
      &:hover .refresh-icon {
        animation: rotate 3s infinite linear;
      }
    }
  }
}
.album-thumb {
  position: relative;
  cursor: pointer;
  overflow-y: hidden;
  .album-img {
    overflow: hidden;
    img {
      transition: .3s;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .album-overlay {
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: .3s;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-overlay);
    .group-controller {
      border-radius: 50%;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      padding: 12px;
      svg {
        width: 25px;
        height: 25px;
        fill: white;
      }
    }
    .media-song-actions {
      .l {
        transition: .3s;
        transform: translateX(-120px);
      }
      .c {
        transition: .3s;
        transform: translateY(120px);
      }
      .r {
        transition: .3s;
        transform: translateX(120px);
      }
    }
  }
  &:hover {
    .album-overlay {
      opacity: 1;
    }
    .album-overlay .media-song-actions {
      .l {
        transform: translateX(0);
      }
      .c {
        transform: translateY(0);
      }
      .r {
        transform: translateX(0);
      }
    }
    .album-img {
      img {
        transform: scale(1.2);
      }
    }
  }
}
.st {
  position: relative;
  .option-wrapper {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    padding: 7px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    .ang {
      position: relative;
      &.ang-home {
        &:after {
          right: 10px;
          border-bottom: 10px solid var(--purple-primary) !important;
        }
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 24px;
        bottom: calc(100% + 7px);
        width: 0;
        height: 0;
        border-bottom: 10px solid rgb(255 255 255 / 20%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
      .option-item {
        width: 100%;
        min-width: 240px;
        padding: 0 15px;
        cursor: pointer;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          background-color: rgba(255, 255, 255, 0.41);
        }
      }
      .option-item[disabled] {
        cursor: not-allowed;
        pointer-events: auto;
        opacity: .5;
        color: #ccc;
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
}
.icon-btn-hb {
  background-color: rgba(255, 255, 255, 0.1) !important;
  margin: 0 10px !important;
}
.song-actions {
  cursor: default;
  align-items: center;
  left: calc(100% + 10px);
  padding: 0 10px;
  top: 0;
  display: flex;
  height: 100%;
  position: absolute;
  background-color: #3A3344;
  transition: .3s;
  .small-action {
    transition: .25s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 4px;
    border-radius: 50%;
    &:hover {
      background-color: #440061;
    }
  }
}
.media-song-actions {
  .MuiIconButton-root {
    padding: 8px;
  }
}
.no-padding {
  padding: 0 !important;
}
/* -- */
@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.song-wrap {
  overflow: hidden;
  border-radius: 5px;
  &.rd-item {
    padding: 0 15px;
    width: calc(100% / 3 - 21px);
  }
  &.playing-song {
    background-color: #7200A1;
    &:hover {
      background-color: #7200A1;
    }
    .song-info {
      .song-actions {
        background-color: #7200A1;
      }
      .song-artist a {
        color: #e7e7e7;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .song-thumb {
    cursor: pointer;
    position: relative;
    .thumb-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.40);
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .song-info {
    position: relative;
    width: calc(100% - 47px);
    margin-left: 7px;
    .song-name {
      user-select: none;
      font-weight: bolder;
      @include text-ellipsis;
    }
    .song-artist {
      user-select: none;
      font-size: 11px;
      color: #dcdcdc;
      @include text-ellipsis;
      a {
        color: #764b8c;
        text-decoration: none;
        transition: .15s;
        &:hover {
          color: var(--text-purple);
        }
      }
    }
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    .song-thumb {
    }
    .song-info .song-actions {
      left: calc(100% - 80px);
    }
  }
}
.op {
  transform-origin: top right;
  animation: appearance .2s linear;
}
.he {
  transform-origin: top right;
  animation: lost .2s linear;
}

.popup-dd {
  transition: .2s;
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
}

.show-pd {
  transform: scale(1);
  opacity: 1;
}
/* -- */
@media (min-width: 600px) {
  .MuiTab-root {
    min-width: unset !important;
  }
}

