$warning: #ff5200;
@import "./keyframe";
.media-player-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  .spl {
    animation: is-playing-detected 10s infinite linear;
  }
  .tbc {
    transition: .3s;
    background-color: transparent !important;
  }
  .loop-active {
    fill: var(--purple-primary) !important;
  }
  .media-spacing {
    transition: .3s;
    padding: 10px 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
    right: 0;
    background-color: var(--bg-media-player);
  }
  .media-info {
    .media-thumb {
      .thumbnail {
        position: relative;
        .thumbnail-effect {
          animation-play-state: paused;
          -webkit-animation-play-state: paused;
          -webkit-animation-name: infinity-rotate;
          animation-name: infinity-rotate;
          -webkit-animation-duration: 12s;
          animation-duration: 12s;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
        }
        .note {
          width: 10px;
          height: 10px;
          fill: #fff;
          position: absolute;
          opacity: 0;
          top: calc(50% - 5px);
          left: calc(50% - 5px);
          -webkit-animation-name: bubble-1;
          animation-name: bubble-1;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
          &.note- {
            &1 {
              animation-delay: 0s;
            }
            &2 {
              animation-delay: 1.2s;
            }
            &3 {
              animation-delay: 2.4s;
            }
            &4 {
              animation-delay: 3.6s;
            }
          }
        }
        .kim {
          position: absolute;
          top: 0;
          right: -10px;
          width: 10px;
          height: 36px;
          fill: #fff;
          transform-origin: top center -10px;
          -webkit-animation-name: quay-kim;
          animation-name: quay-kim;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          display: block;
          left: 50%;
          width: 12px;
          height: 12px;
          border: 2px solid #fff;
          transform: translate(-50%, -50%);
          background-color: #120C1C;
          border-radius: 100px;
        }
      }
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      &.playing {
        .thumbnail {
          .thumbnail-effect, .note, .kim {
            animation-play-state: running;
            -webkit-animation-play-state: running;
          }
        }
      }
    }
  }
  .media-detail-info {
    .song-name-control {
      min-width: 163px;
      max-width: 163px;
      overflow: hidden;
      .song-name {
        width: fit-content;
        font-weight: bolder;
        font-size: 16px;
      }
      .automation-text {
        animation-name: auto-text;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 20s;
        text-overflow: clip;
        &:hover {
          animation-play-state: paused;
        }
      }
      &.end-overlay {
        -webkit-mask-image: linear-gradient(to left, transparent .2%, #000 20%);
      }
    }
    .song-artist {
      font-size: 13px;
      a {
        text-decoration: none;
        color: white;
        font-size: 12px;
      }
      &:hover a {
        color: var(--text-purple);
      }
    }
  }
  .media-controls {
    justify-content: center;
    flex: 1 1 auto;
    .icon-btn-group {
      justify-content: center;
      .icon-control-active {
        fill: var(--purple-primary)
      }
    }
    .control-group-btn .MuiSlider-root {
      .MuiSlider-rail, .MuiSlider-track, .MuiSlider-thumb {
        transition: .12s;
      }
      &:hover {
        .MuiSlider-rail, .MuiSlider-track {
          height: 5px;
        }
        .MuiSlider-thumb {
          width: 15px;
          height: 15px;
        }
      }
    }
    .played-time {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      text-align: center;
      &:first-of-type {
        color: #8c8c8c
      }
      &.playing {
        animation: text-playing 2s infinite linear;
      }
    }
    .main-control {
      margin: 0 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-style: solid;
      border-width: 1px;
      border-color: #fff;
      transition: .15s;
      .main-icon-btn {
        transition: .15s;
        width: 20px;
        height: 20px;
      }
      &:hover {
        border-color: var(--purple-primary);
        .main-icon-btn {
          fill: var(--purple-primary);
        }
      }
    }
  }
  .media-sub-actions {
    .volume-warning {
      .MuiSlider-root {
        .MuiSlider-rail,
        .MuiSlider-track,
        .MuiSlider-thumb {
          background-color: $warning;
        }
      }
    }
    .volume-warning-btn .MuiIconButton-label svg {
      transition: .5s;
      fill: $warning;
    }
    .divided-icon-btn {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 40%;
        width: 1px;
        background-color: #727272;
      }
      &._n:after {
        display: none;
      }
    }
  }
  .control-size {
    width: 24px;
    height: 24px;
  }
  .control-size-huge {
    width: 28px;
    height: 28px;
  }
  .icon-control {
    fill: white;
  }
  .icon-active {
  }
  .tt-btn {
    position: relative;
    .tt-box {
      left: 0;
      font-size: 12px;
      border-radius: 4px;
      padding: 8px 12px;
      position: absolute;
      bottom: calc(100% + 10px);
      background-color: #2a2a2a;
      width: fit-content;
      white-space: nowrap;
      /*    visibility: hidden;
      opacity: 0;
      z-index: 6;*/
      &:after {
        background-color: #2a2a2a;
        position: absolute;
        content: "";
        width: 10px;
        top: calc(100% - 2px);
        height: 10px;
        transform: rotate(45deg) translateX(-50%);
        left: 50%;
      }
    }
    &:hover .tt-box {
      visibility: visible;
      opacity: 1;
    }
  }
  .media-expand {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    transition: .5s ease-out;
    background-color: rgba(59, 6, 41, 1);
    z-index: 5;
    height: 100vh;
    [role="tabpanel"] {
      height: calc(100vh - 77px - 96px);
      overflow: hidden;
    }
    &.expand-wrapper {
      transition: .5s ease-out;
      top: 0;
    }
    .side-wrapper {
      background-color: #3b0629;
    }
    .expand-header {
      justify-content: center;
      padding: 20px 0;
      position: relative;
      .expand-controls {
        position: absolute;
        display: flex;
        z-index: 10;
        align-items: center;
        top: 50% ;
        right: 0;
        transform: translateY(-50%);
      }
      .tabs-control .MuiTabs-root .MuiTabs-scroller {
        .MuiTabs-flexContainer {
          .MuiButtonBase-root {
            padding: 0 47px;
            .MuiTab-wrapper {
              font-size: 18px;
              font-weight: bolder;
            }
          }
        }
        .MuiTabs-indicator {
          height: 31px;
        }
      }
    }
    #full-width-tabpanel-0 {
      .MuiBox-root {
        position: relative;
        & > div {
          height: 100%;
          .slick-slider {
            height: 100%;
            .slick-list, .slick-track {
              height: 100%;
            }
            .slick-slide {
              display: flex;
              align-items: center;
              border: 1px solid transparent;
            }
            .slick-prev, .slick-next {
              width: unset;
              height: unset;
              padding: 10px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.1);
              z-index: 6;
              transition: .3s;
              &:active {
                background-color: deeppink;
              }
              &:before {
                font-size: 30px;
              }
            }
            .slick-center .cxi-box{
              border: 1px solid #fff;
            }
            .slick-prev {
              left: 20px;
            }
            .slick-next {
              right: 20px;
            }
          }
        }
      }
    }
  }
}


@keyframes auto-text {
  to {
    transform: translateX(-100%);
  }
}
