$warning: #ff5200;
@import "./keyframe";
.media-player-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-media-player);
  .spl {
    animation: is-playing-detected 10s infinite linear;
  }
  .loop-active {
    fill: var(--purple-primary) !important;
  }
  .media-spacing {
    padding: 10px 35px;
  }
  .media-info {
    .media-thumb {
      .thumbnail {
        position: relative;
        .thumbnail-effect {
          animation-play-state: paused;
          -webkit-animation-play-state: paused;
          -webkit-animation-name: infinity-rotate;
          animation-name: infinity-rotate;
          -webkit-animation-duration: 12s;
          animation-duration: 12s;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
        }
        .note {
          width: 10px;
          height: 10px;
          fill: #fff;
          position: absolute;
          opacity: 0;
          top: calc(50% - 5px);
          left: calc(50% - 5px);
          -webkit-animation-name: bubble-1;
          animation-name: bubble-1;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
          &.note- {
            &1 {
              animation-delay: 0s;
            }
            &2 {
              animation-delay: 1.2s;
            }
            &3 {
              animation-delay: 2.4s;
            }
            &4 {
              animation-delay: 3.6s;
            }
          }
        }
        .kim {
          position: absolute;
          top: 0;
          right: -10px;
          width: 10px;
          height: 36px;
          fill: #fff;
          transform-origin: top center -10px;
          -webkit-animation-name: quay-kim;
          animation-name: quay-kim;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          display: block;
          left: 50%;
          width: 12px;
          height: 12px;
          border: 2px solid #fff;
          transform: translate(-50%, -50%);
          background-color: #120C1C;
          border-radius: 100px;
        }
      }
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      &.playing {
        .thumbnail {
          .thumbnail-effect, .note, .kim {
            animation-play-state: running;
            -webkit-animation-play-state: running;
          }
        }
      }
    }
  }
  .media-detail-info {
    .song-name-control {
      min-width: 163px;
      max-width: 163px;
      overflow: hidden;
      .song-name {
        width: fit-content;
        font-weight: bolder;
        font-size: 16px;
      }
      .automation-text {
        animation-name: auto-text;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 20s;
        text-overflow: clip;
        &:hover {
          animation-play-state: paused;
        }
      }
    }
    .song-artist {
      font-size: 13px;
    }
  }
  .media-controls {
    justify-content: center;
    flex: 1 1 auto;
    .icon-btn-group {
      justify-content: center;
      .icon-control-active {
        fill: var(--purple-primary)
      }
    }
    .control-group-btn .MuiSlider-root {
      .MuiSlider-rail, .MuiSlider-track, .MuiSlider-thumb {
        transition: .12s;
      }
      &:hover {
        .MuiSlider-rail, .MuiSlider-track {
          height: 5px;
        }
        .MuiSlider-thumb {
          width: 15px;
          height: 15px;
        }
      }
    }
    .played-time {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      text-align: center;
      &:first-of-type {
        color: #8c8c8c
      }
      &.playing {
        animation: text-playing 2s infinite linear;
      }
    }
    .main-control {
      margin: 0 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-style: solid;
      border-width: 1px;
      border-color: #fff;
      transition: .15s;
      .main-icon-btn {
        transition: .15s;
        width: 20px;
        height: 20px;
      }
      &:hover {
        border-color: var(--purple-primary);
        .main-icon-btn {
          fill: var(--purple-primary);
        }
      }
    }
  }
  .media-sub-actions {
    .volume-warning {
      .MuiSlider-root {
        .MuiSlider-rail,
        .MuiSlider-track,
        .MuiSlider-thumb {
          background-color: $warning;
        }
      }
    }
    .volume-warning-btn .MuiIconButton-label svg {
      transition: .5s;
      fill: $warning;
    }
    .divided-icon-btn {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 40%;
        width: 1px;
        background-color: #727272;
      }
    }
  }
  .control-size {
    width: 24px;
    height: 24px;
  }
  .control-size-huge {
    width: 28px;
    height: 28px;
  }
  .icon-control {
    fill: white;
  }
  .icon-active {
  }
  .tt-btn {
    position: relative;
    .tt-box {
      left: 0;
      font-size: 12px;
      border-radius: 4px;
      padding: 8px 12px;
      position: absolute;
      bottom: calc(100% + 10px);
      background-color: #2a2a2a;
      width: fit-content;
      white-space: nowrap;
      /*    visibility: hidden;
      opacity: 0;
      z-index: 6;*/
      &:after {
        background-color: #2a2a2a;
        position: absolute;
        content: "";
        width: 10px;
        top: calc(100% - 2px);
        height: 10px;
        transform: rotate(45deg) translateX(-50%);
        left: 50%;
      }
    }
    &:hover .tt-box {
      visibility: visible;
      opacity: 1;
    }
  }
}
@keyframes auto-text {
  to {
    transform: translateX(-100%);
  }
}
